%title-font {
  font-size: 58px;
  line-height: 64px;
  @media (max-width:990px) {
    font-size: 48px;
    line-height: 48px;
  }
  @media (max-width:767px) {
    font-size: 30px;
    line-height: 33px;
  }
}
%font-two {
  font-size: 19px;
  line-height: 22px;
  @media (max-width:767px) {
    font-size: 12px;
    line-height: 13px;
  }
}